# Ejercicio NÂ° 2 - Titulo

# H1: Data Science Tools and Ecosystem

###### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Learn the types of titles.
+ Use of bold
* Construction of tables
- Creating vignettes
- mathematical calculations

###### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

###### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. ggplot2
4. TensorFlow

| Data Science Tools |
|------------------------|
|1. Jupyter Notebook|
|2. RStudio|
|3. Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [62]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [64]:
# This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

## Author
Victor Vergara